<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Amazon recommender system</title>
</head>

<body>
    <div class="sidebar">
        <div class="hdn-head">
            <h2>Hello, Sign in</h2>
        </div>
        <div class="hdn-content">
            <h3>Digital Content & Devices</h3>
            <ul>
                <div>
                    <li>Amazon Music</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Kindle E-Readers & Books</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Appstore for Android</li><i class="fa-solid fa-angle-right"></i>
                </div>
            </ul>
            <div class="line"></div>
        </div>
        <div class="hdn-content">
            <h3>Shop By Department</h3>
            <ul>
                <div>
                    <li>Electronics</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Computers</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Smart Homes</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Arts & Crafts</li><i class="fa-solid fa-angle-right"></i>
                </div>
            </ul>
            <div class="line"></div>
        </div>
        <div class="hdn-content">
            <h3>Programs & Features</h3>
            <ul>
                <div>
                    <li>Gift Cards & Mobile Recharges</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Flight Tickets</li><i class="fa-solid fa-angle-right"></i>
                </div>
                <div>
                    <li>Clearance Store</li><i class="fa-solid fa-angle-right"></i>
                </div>
            </ul>
            <div class="line"></div>
        </div>
    </div>
    <i class="fa-solid fa-xmark"></i>
    <div class="triangle"><i class="fa-solid fa-triangle"></i></div>
    <div class="hdn-sign">
        <div class="hdn-table">
            <div>
                <h3>Your Lists</h3>
                <ul>
                    <li>Create a List</li>
                    <li>Find a List & Registry</li>
                    <li>Amazon Smile Charity Lists</li>
                </ul>
            </div>
            <div class="hdn-line"></div>
            <div>
                <h3>Your Account</h3>
                <ul>
                    <li>Account</li>
                    <li>Orders</li>
                    <li>Recommendations</li>
                    <li>Browsing History</li>
                    <li>Watchlist</li>
                    <li>Video Purchases</li>
                    <li>Kindle Unlimited</li>
                    <li>Content & Devices</li>
                    <li>Subscribe & Save Items</li>
                    <li>Membership</li>
                    <li>Music Library</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="black"></div>
    <header>
        <div class="first">
            <div class="flex logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                <div class="map flex">
                    <i class="fas fa-map-marker"></i>
                    <div>
                        <span>Deliver to</span>
                        <span>Kenya</span>
                    </div>
                </div>
            </div>
            <div class="flex input">
                <div>
                    <span>All</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                <input type="text" list="brands" id="brandInput" placeholder="Search by Brand">
                <datalist id="brands">
                    {% for brand in unique_brands %}
                    <option value="{{ brand }}">
                        {% endfor %}
                </datalist>
                <i class="fas fa-search" onclick="predictBrands()"></i>
            </div>
            <script>
                function predictBrands() {
                    // Get the selected brand from the input field
                    var selectedBrand = document.getElementById('brandInput').value;

                    // Make an asynchronous POST request to the Flask server
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/predict', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                    // Set up the data to send to the server
                    var data = 'selected_brand=' + encodeURIComponent(selectedBrand);

                    // Define what happens on successful data submission
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            // Parse the JSON response
                            var predictions = JSON.parse(xhr.responseText);

                            // Update the UI with the predictions
                            updatePredictions(predictions);
                        }
                    };

                    // Handle errors
                    xhr.onerror = function() {
                        console.error('Error making the request.');
                    };

                    // Send the request to the server
                    xhr.send(data);
                }

                function updatePredictions(predictions) {
                // Update your UI elements as needed
                var productList = document.getElementById('productList');
                productList.innerHTML = ''; // Clear previous results

                if (predictions.length > 0) {
                    predictions.forEach(function (prediction) {
                        // Create HTML elements for each recommendation
                        var listItem = document.createElement('li');
                        listItem.innerHTML = `
                            <h4><b>${prediction['Brand']}</b></h4>
                            <img src="${prediction['Image']}" alt="Product Image">
                            <p><b>${prediction['Brand']}</b><br> ${prediction['Title']}</p>
                            <a href="${prediction['Image']}">View Product</a>
                        `;

                        // Append the recommendation to the list
                        productList.appendChild(listItem);
                    });
                } else {
                    // Handle the case when no recommendations are available
                    productList.innerHTML = '<li>No recommendations available.</li>';
                }
            }

            </script>
            <div class="flex right">
                <div class="flex lang">
                    <img src="{{ url_for('static', filename='images/usflag.jpg') }}" alt="">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="sign">
                    <span>Hello, Sign in</span>
                    <div class="flex ac">
                        <span>Accounts & Lists</span>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="sign">
                    <span>Returns</span>
                    <span>& Orders</span>
                </div>
                <div class="flex cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="ca">Cart</span>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="second-1">
                <div>
                    <i class="fas fa-bars"></i>
                    <span>All</span>
                </div>
            </div>
            <div class="second-2">
                <ul>
                    <li>Today's Deal</li>
                    <li>Customer Service</li>
                    <li>Registry</li>
                    <li>Gift Cards</li>
                    <li>Sell</li>
                </ul>
            </div>
            <div class="second-3">
                <span>Shop Valentine's Day</span>
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="container">
            <div class="slider">
                <div class="image-box">
                    <div class="slide">
                        <img src="{{ url_for('static', filename='images/si1.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='images/si2.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='images/si3.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='images/si4.jpg') }}" alt="">
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section class="sec-2">
        <div class="slide-sec">
            <div class="l-btn"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="r-btn"><i class="fa-solid fa-chevron-right"></i></div>
            <center><h3>SOME OF OUR GARMENTS</h3></center>
            <ul class="product-slide product-slide-1">
                {% for index, row in popular_brands.iterrows() %}
                    <li>
                        <h4><b>{{ row['brand'] }}</b></h4>
                        <img src="{{ row['medium_image_url'] }}" alt="Product Image">
                        <p><b>{{ row['brand'] }}</b><br> {{ row['title'] }}</p>
                        <a href="{{ row['medium_image_url'] }}">View Product</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="sec-2">
        <div class="slide-sec">
            <div class="l-btn btn-1b"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="r-btn btn-1a"><i class="fa-solid fa-chevron-right"></i></div>
            <center><h3>POPULAR BRAND</h3></center>
            <ul class="product-slide product-slide-2">
                {% for index, row in recommendaton.iterrows() %}
                <li>
                    <h4><b>{{ row['brand'] }}</b></h4>
                    <img src="{{ row['medium_image_url'] }}" alt="Product Image">
                    <p><b>{{ row['brand'] }}</b><br> {{ row['title'] }}</p>
                    <a href="{{ row['medium_image_url'] }}">View Product</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="sec-2">
        <div class="slide-sec">
            <div class="l-btn"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="r-btn"><i class="fa-solid fa-chevron-right"></i></div>
            <center><h3>POPULAR COLORS</h3></center>
            <ul class="product-slide product-slide-1">
                {% for index, row in recommendaton1.iterrows() %}
                    <li>
                        <h4><b>{{ row['brand'] }}</b></h4>
                        <img src="{{ row['medium_image_url'] }}" alt="Product Image">
                        <p><b>{{ row['brand'] }}</b><br> {{ row['title'] }}</p>
                        <a href="{{ row['medium_image_url'] }}">View Product</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="sec-2">
        <div class="slide-sec">
            <div class="l-btn btn-1b"><i class="fa-solid fa-chevron-left"></i></div>
            <div class="r-btn btn-1a"><i class="fa-solid fa-chevron-right"></i></div>
            <center><h3>RECOMMENDED ITEMS</h3></center>
            <ul id="productList" class="product-slide product-slide-1">
                {% if recommendations %}
                    {% for index, row in recommend.iterrows() %}
                        <li>
                            <h4><b>{{ row['brand'] }}</b></h4>
                            <img src="{{ row['medium_image_url'] }}" alt="Product Image">
                            <p><b>{{ row['brand'] }}</b><br> {{ row['title'] }}</p>
                            <a href="{{ row['medium_image_url'] }}">View Product</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No recommendations available.</li>
                {% endif %}
            </ul>
        </div>
    </section>

    <section class="footer">
        <div class="backtop">
            <span>Back to Top</span>
        </div>
        <div class="detail">
            <div class="table">
                <div>
                    <div class="t-head">Get to Know Us</div>
                    <ul>
                        <li>Careers</li>
                        <li>Blogs</li>
                        <li>About Amazon</li>
                        <li>Investor Relations</li>
                        <li>Amazon Advices</li>
                        <li>Amazon Science</li>
                    </ul>
                </div>

                <div>
                    <div class="t-head">Make Money with Us</div>
                    <ul>
                        <li>Sell Products on Amazon</li>
                        <li>Sell on Amazon Business</li>
                        <li>Sell Apps on Amazon</li>
                        <li>Become an Affiliate</li>
                        <li>Advertise your Products</li>
                        <li>Host an Amazon Hub</li>
                    </ul>
                </div>


                <div>
                    <div class="t-head">Amazon Payment Products</div>
                    <ul>
                        <li>Amazon Business Cards</li>
                        <li>Shop with Points</li>
                        <li>Reload your Balance</li>
                        <li>Amazon Currency Converter</li>
                    </ul>
                </div>


                <div>
                    <div class="t-head">Let Us Help You</div>
                    <ul>
                        <li>Amazon and COVID-19</li>
                        <li>Your Account</li>
                        <li>Yoyr Orders</li>
                        <li>Shipping Rates and Policies</li>
                        <li>Returns and Replacements</li>
                        <li>Manage your Content & Devices</li>
                        <li>Amazon Assistant</li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="copy">
            <span>&copy; Designed by Sammy and Alvin</span>
        </div>
    </section>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>